<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">  Web İndeksleme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/frekans-hesapla">Frekans Hesapla  |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anahtar-kelime-benzerlik">Anahtar Kelime Hesapla ve Benzerlik Skorlaması Yap  |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/indeksleme-siralama">Site İndeksleme ve Sıralama  |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/semantik-analiz">Semantik Analiz</a>
      </li>
    </ul>
  </div>
</nav>