<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aşama 4</title>
</head>
<body>
    <center>
        <ul>
           <b> Ana URL: </b><br>
            {{url_ana_indexleme_anahtar_kelime_ilk_bes}} <br><br>
            <li>
                <b>URL1: </b><br>
                {{birinci_url_dict}} <br><br>
            </li>
            <li>
                <b>URL2: </b><br>
                {{ikinci_url_dict}} <br><br>
            </li>
            <li>
                <b>URL3: </b><br>
                {{ucuncu_url_dict}} <br><br>
            </li>
            <li>
                <b>URL4: </b><br>
                {{dorduncu_url_dict}} <br><br>
            </li>
            <li>
                <b>URL5: </b><br>
                {{besinci_url_dict}} <br><br>
            </li>
            <b>Skor Sıralaması</b><br><br>
            {{url_skor_sıralı}} <br><br>
        </ul>
    </center>
</body>
</html>