<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aşama 1</title>
</head>
<body>
<center>
    <br>
	<hr width="90%" size="2" noshade>
		<br><b>Sayfadaki Kelimeler</b><br><br>
		<b>Kelimeler ve Sıklıkları:</b><br>

          {{kelimesayisi}}
        <br><br>
	<hr width="90%" size="2" noshade>
       <br><b> Anahtar Kelimeler</b><br><br>
    {{url_anahtar_kelimeler_frekans}} <br><br>
</center>
</body>
</html>