
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aşama 2 ve 3</title>
</head>
<body>
    <center>
    <b>Aşama 2 Sonuçları:</b> <br><br>
    Anahtar Kelimeler (URL1 İçin):<br>

    {{url_1_anahtar_kelimesayisi_ilk_bes}}
    
    <br><br><br><b>Aşama 3 Sonuçları:</b> <br><br>
    <b>Url2 Kelimeler ve Frekansı: </b> <br><br>
    {{url_2_anahtar_kelimesayisi}}
    <br><br> <b>Url1 ve Url2 için Benzerlik Skoru:</b><br><br>
    {{Skor}}
    </center>
</body>
</html>