{% extends "layout.html" %}

{% block string %}
<hr width="80%" size="2" noshade>
    <form action="http://127.0.0.1:5000/asama1" method="POST" >
        <p style="text-align:center;">
            Analizi Yapılacak Web Adresini Giriniz:<br>
        </p>
        <pre style="text-align: center;">
        <input  type="url" name="url" style="width: 500px; height: 20px;" required>  <input type="submit" value="BAŞLA" align="center"> <input type="reset" value="SIFIRLA" align="center"></pre>
    </form>
    <br>
<hr width="90%" size="2" noshade>


{% endblock string %}


